body{
	font-family: 'Montserrat', sans-serif;
	display: block;
	margin: 0;
}
nav{
	z-index: 1;
	position: fixed;
	overflow: hidden;
	height: 100px;
	width: 100%;
	/*position: relative;*/
	background-color: black;
	display: flex;
}
.navbar{
	/*position: relative;*/
	/*color: white;*/
	display: block;
	margin-left: 20%;
}
.nav{
	position: fixed;
	display: flex;
}
ul{
	position: fixed;
	margin: 30px;
	display: block;
	font-size: 16px;
	display: flex;
}
li{	
	position: relative;
	display: flex;
	margin: 10px;
	margin-left: 18px;
}
.img{
	width: 100%;
	z-index: -1;
	background-color: black;
	top: 23px;
	display: block;
	/*position: relative;*/
}
a:hover{
	color: red;
}
.logo{
	padding-left: 10%;
	font-size: 30px;
	margin-left: 45px;
	margin-top: 35px;
}
.one{
	/*position: fixed;*/
	padding-top: 5.6%;
	width: 100%;
	/*background-image: url("img/4.jpg");*/
	height: 500px;
}
.hover{
	font-size: 18px;
	color: #a09a9a;
	text-decoration: none;
}
.text{
	bottom: 595px;
	position: relative;
	text-align: center;
}
.two{
	padding-top: 12%;
	text-align: center;
	width: 100%;
	height: 300px;
}
.text2{
	margin-left: 15%;
	width: 70%;
	/*border: 1px solid black;*/
}
.pra{
	font-family: arial;
	line-height: 1.5;
}
.line1{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 80px;
}
.line{
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 200px;
}

.line2{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 80px;
}
.four{
	padding-top: 2%;
	text-align: center;
	width: 100%;
	height: 700px;
}
.mainbox{
	position: relative;
	margin-top: 9%;
	display: flex;
	margin-left: 15%;
}
.text3{
	margin-left: 15%;
	width: 70%;
	text-align: center;
}
.box1{
	height: 450px;
	width: 300px;
	border: 1px solid #DCDCDC;
	margin-left: 20px;
}

.imgbox{
	background-color: 
	white; padding-top: 30px;
}
.paragraph{
	height: 215px; 
	width: 220px; 
	margin-left: 40px; 
	line-height: 1.5;
}
.five{
	padding-top: 10%;
	width: 100%;
}
.boxes{
	background-color: #F94720;
	text-align: center;
	height: 250px;
	
}
.btn{
	color: white;
	border: 3px solid #FEE2DD;
	background-color: #F94720;
	font-size: 16px;
	margin-top: 8%;
	width: 300px;
	height: 50px;
}
.btn:hover{
	background-color: #FEE2DD;
	color: black;
	font-size: 16px;
}
.six{
	padding-top: 2%;
	text-align: center;
	width: 100%;
	height: 300px;
}
.line4{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 80px;
}
.text4{
	margin-left: 15%;
	width: 70%;
}
.proj{
	font-family: arial;
	line-height: 1.5;
}
.projectbox{
	margin-top: 10%;
	height: 200px;
	width: 100%;
	display: flex;
}
.img1{
	height: 590px; 
	width: 100%; 	
	z-index: -1
	height: 100px;
	width: 100%;
}
.seven{
	position: relative;
	padding-top: 50%;
	text-align: center;
	width: 100%;
	height: 100px;
}
.img2{
	height: 300px; 
	width: 100%; 	
	z-index: -1
}
.line5{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 200px;
}
.text6{
	bottom: 495px;
	position: relative;
	text-align: center;
}
.company{
	display: flex;
	position: relative;
	left: 100px;
	bottom: 450px;
}
h1{
	margin-right: 10px;
}
.team{
	margin-top: 50%;
	text-align: center;
	width: 100%;
	height: 750px;
}
.line7{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 100px;
}
.teammain{
	margin-left: 10%;
	margin-top: 5%;
	display: flex;
}
.team1{
	margin-left: 2%;
	border: 1px solid #DCDCDC;
	height: 400px;
	width: 300px;
}
.imgt{
	margin-top: 5%;
	height: 120px; 
	width: 120px; 
	border-radius: 100px 100px 100px 100px;
}
.texttext1{
	bottom: 595px;
	position: relative;
	text-align: center;
}
.teampra{
	font-family: arial;
	line-height: 1.5;
}
.text7{
	margin-top: 5%;
	margin-left: 15%;
	width: 70%;
}
.contact{
	margin-top: 10%;
	height: 500px;
	width: 100%;
	/*border: 1px solid black;*/
	text-align: center;
}
.line8{
	display: block;
	position: relative;
	width: 100px;
	border: 2px solid #F94720;
	margin-left: 46%;
	top: 90px;
}
.content{
	margin-top: 10%;
	display: block;
	font-size: 18px;
	position: relative;
	left: 15%;
	height: 300px;
	width: 300px;
}
.social{
	display: block;
	position: relative;
	bottom: 80px;
	right: 25%;

}
.containerfo{
	display: flex;
	height: 100px;
	width: 100%;
	background-color: black;
	color: white;
}
.mainf{
	margin-top: 25px;
	display: flex;
	margin-left: 5%;

}
.contact1{
	line-height: 1.5;
	margin-top: 10px;
	margin-left: 25%;
	text-align: center;
}
.phone{
	line-height: 1.5;
	margin-top: 10px;
	margin-left: 25%;
	text-align: center;
}
